<%- include('index.html'); -%>

<div class="row justify-content-md-center">
    <div class="col-md-auto">

    <div class="card mb-6" style="max-height: 540px;">
        <div class="row no-gutters">
          <div class="col-md-6">
            <img src="<%= productImage %>" class="card-img" style="max-height: 370px;">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title"><%= productName %></h5>
              <p class="card-text"> 
                <p>KCal: <%= productKCal100 %></p>
                <p>Grasas: <%= productFat100 %></p>
                <p>Hidratos de carbono: <%= productCH100 %></p>
                <p>Proteinas: <%= productProtein100 %></p>
                <p>Sal: <%= productSalt100 %></p>
              </p>
              <p class="card-text"><small class="text-muted">Datos obtenidos de openfoodfacts.org</small></p>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>
<%- include('footer.html'); -%>
