<%- include('header.html'); -%>
<div id="interactive" class="viewport"></div>

<div class="col col-lg-2"></div>
<div class="col-md-auto">
    <form action="/food" class="form-inline">
        <div class="form-group mb-2">
            <label for="codeBar">Código de barras</label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" name="codeBar" class="form-control" id="codeBarId" aria-describedby="codeBar">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Buscar</button>

    </form>
</div>
<div class="col col-lg-2"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
<script>
    
    Quagga.init({
    inputStream : {
        name : "Live",
        type : "LiveStream",
         // Or '#yourElement' (optional)
        target: document.querySelector('#interactive') ,
        constraints: {
            width: 640,
            height: 480,
            facing: "environment"
        }
  },
  locator: {
    patchSize: "medium",
    halfSample: true
  },
  numOfWorkers: 4,
  locate: true,
    },
    decoder : {
        readers : ["code_128_reader","ean_reader"]
    }
}, function(err) {
    if (err) {
        console.log(err);
        return
    }
    console.log("Initialization finished. Ready to start");
    Quagga.start();
});
        Quagga.onDetected(function(result) {
            var code = result.codeResult.code;
            console.log('Codigo detectado ' + code)
            window.location.replace(window.location.href + '/food?codeBar=' + code);

            });
    </script>
<%- include('footer.html'); -%>